version: '3.7'

services:

  nginx-proxy:
    container_name: nginx-proxy
    image: jwilder/nginx-proxy:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - certs:/etc/nginx/certs:ro
      - /usr/share/nginx/html
      - vhost:/etc/nginx/vhost.d:rw
    labels:
      - com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy
    networks:
      - proxy-network

  letsencrypt:
    container_name: letsencrypt
    image: jrcs/letsencrypt-nginx-proxy-companion:2.2.8
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - certs:/etc/nginx/certs:rw
    volumes_from:
      - nginx-proxy:rw
    environment:
      - DEFAULT_EMAIL=darvak8@gmail.com # Cambia por tu dirección de correo electrónico
    networks:
      - proxy-network

  chatbot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chatbot
    expose:
      - "80"
    environment:
      - VIRTUAL_HOST=www.visuali.shop, visuali.shop # Cambia por tu dominio
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=www.visuali.shop, visuali.shop # Cambia por tu dominio
      - LETSENCRYPT_EMAIL=darvak8@gmail.com # Cambia por tu dirección de correo electrónico
    volumes:
      - ./app:/app/
    networks:
      - proxy-network

  terms-and-conditions:
    container_name: terms-and-conditions
    image: nginx:alpine
    expose:
      - "80"
    environment:
      - VIRTUAL_HOST=terms-and-conditions.visuali.shop # Cambia por tu dominio
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=terms-and-conditions.visuali.shop # Cambia por tu dominio
      - LETSENCRYPT_EMAIL=darvak8@gmail.com # Cambia por tu dirección de correo electrónico
    volumes:
      - ./terms-and-conditions/terms-and-conditions.html:/usr/share/nginx/html
    networks:
      - proxy-network


networks:
  proxy-network:

volumes:
  certs:
  vhost:

