@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");
*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--rojo_oscuro: #91000f;
	--rojo: #c75637;
	--verde: #c0c2b8;
	--verde_oscuro: #8d9f93;
	--dorado: #b9a27b;
	--gold: #dbbf7c;
	--rosado: #e6c9c2;
	--rosa_claro: #e2a79f;
	--fucsia: #c47876;
	--rojo_claro: #f30000;
	--azul_claro: #8c9e9e;
	--azul_oscuro: #226a7e;
	--amarillo: #fee70c;
	--fuente_principal: "Just Another Hand";
	--fuente_secundaria: "Fleur De Leah";
	--gris_claro: #c4c4c4;
	--gris: #919191;
	--blanco: #ffffff;
	--negro: #232323;
	--radio-tarjeta: 18px;
}

@font-face {
	font-family: Motivo;
	src: url("../fonts/Australia Custom Italic.ttf") format("opentype");
}

body {
	color: var(--negro);
	background-size: 110% 110%;
	background-image: url("../img/fondo_ppl.jpg");
	background-position: center;
	background-size: cover;
	scroll-behavior: smooth;
	font-family: var(--fuente_principal);
}
#loader {
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fefefe;
}

.boton-loader {
	align-self: center;
	background-color: #fff;
	background-image: none;
	background-position: 0 90%;
	background-repeat: repeat no-repeat;
	background-size: 4px 3px;
	border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
	border-style: solid;
	border-width: 2px;
	border-color: #11bfed;
	box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
	box-sizing: border-box;
	color: #5928af;
	cursor: pointer;
	display: inline-block;
	font-family: Neucha, sans-serif;
	font-size: 1rem;
	line-height: 23px;
	outline: none;
	padding: 0.5rem;
	text-decoration: none;
	transition: all 235ms ease-in-out;
	border-bottom-left-radius: 15px 255px;
	border-bottom-right-radius: 225px 15px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	max-width: 200px;
}

.boton-loader:hover {
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
	transform: translate3d(0, 2px, 0);
}

.boton-loader:focus {
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.contenedor {
	margin: 40px auto 0px auto;
	text-align: center;
	padding: 0px;
	width: 90%;
	max-width: 320px;
}

#contenedor_tarjeta {
	background: var(--blanco);
	width: 100%;
	display: inline-block;
	margin: auto;
	position: relative;
	text-align: center;
	z-index: 1;
	border-left: 4px solid #00000000;
	border-right: 4px solid #00000000;
	border-bottom: 4px solid #00000000;
	border-top: 4px solid #00000000;
}

#fondo_contenido {
	background-image: url("../img/fondo_contenido.jpg");
	background-size: cover;
	background-position: right;
}

#fondo_imagenes {
	background: transparent;
	width: 100%;
	background: url("https://tarjetas.cool/modelos/quince/quince15/img/fondo.jpg");
	background-size: cover;
	background-position: bottom;
	animation: efectoMovimientoFondo 7s ease 0.1s infinite;
	-webkit-animation: efectoMovimientoFondo 7s ease 0.1s infinite;
	z-index: -1;
}

#esquinero-tarjeta-izquierda {
	position: absolute;
	top: -25px;
	left: -20px;
	width: 50%;
}
#esquinero-tarjeta-derecha {
	position: absolute;
	top: -25px;
	right: -20px;
	width: 50%;
	transform: scaleX(-1);
}

#imagenes {
	position: absolute;
	margin: 0px;
	padding: 0px;
}

#contenedor_cinta_2 {
	background-color: var(--negro);
	height: 120px;
	border-top: 4px solid var(--dorado);
}

#contenedor_nombre_subtitulo {
	background-color: var(--fucsia);
	height: 100px;
	position: relative;
	top: -8px;
}

#nombre {
	margin: 5px;
	text-shadow: 1px 1px 1px var(--negro);
	padding: 0px;
	font-size: 80px;
	color: var(--blanco);
	font-family: var(--fuente_secundaria);
	line-height: 84px;
}

#subtitulo_nombre {
	text-transform: uppercase;
	font-size: 20px;
	font-family: var(--fuente_principal);
	margin: 0px;
	padding: 5px;
	color: var(--blanco);
	line-height: 35px;
	position: absolute;
	top: 332px;
}

#mensaje {
	margin: 20px 0px 20px 0px;
	line-height: 1.5;
	font-size: 24px;
	color: var(--dorado);
	font-family: var(--fuente_principal);
	/* text-shadow: 1px 1px 1px var(--negro); */
}

#foto {
	border: 8px solid;
	padding: 2px;
	border-top-color: var(--fucsia);
	border-right-color: var(--fucsia);
	border-bottom-color: var(--rosa_claro);
	border-left-color: var(--rosa_claro);
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
}

#audio {
	width: 85%;
	margin-top: 30px;
	margin-bottom: 5px;
	border-radius: 35px;
	background-color: var(--rosado);
}

audio::-webkit-media-controls-panel {
	background-color: var(--rosa_claro);
	border-color: var(--gris);
	color: white;
}
audio::-webkit-media-controls-play-button {
	background-color: var(--blanco);
	border-radius: 50%;
}

#fecha {
	font-size: 40px;
	font-weight: 300;
	color: var(--dorado);
	margin-bottom: 0px;
	margin-top: 30px;
	padding: 0px 10px;
	font-family: var(--fuente_principal);
	line-height: 50px;
}

#hora {
	font-size: 40px;
	color: var(--fucsia);
	margin-bottom: 0px;
	padding: 0px 10px;
	font-family: var(--fuente_principal);
}

#division_fecha_hora {
	width: 70%;
	margin: 0px auto;
	color: var(--blanco);
}

#direccion {
	font-size: 24px;
	line-height: 30px;
	color: var(--dorado);
	margin-top: 15px;
	margin-bottom: 0px;
}

.boton {
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-family: var(--fuente_principal);
	font-size: 20px;
	line-height: 1.15385;
	outline: none;
	padding: 8px 0.8em;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
	border: none;
}

.boton_como_llegar {
	margin-top: 20px;
	background-color: var(--fucsia);
	color: var(--blanco);
	width: 85%;
}

.boton_abrir_mapa_en_google {
	background-color: var(--rosa_claro);
	color: var(--blanco);
}

.boton_como_llegar:hover {
	background-color: var(--rosa_claro);
	color: var(--blanco);
}

#cinta {
	width: 90%;
	margin: 0px 0px;
	position: relative;
	bottom: -24px;
	z-index: 100;
}

#mensaje_confirmar_asistencia {
	height: 45px;
	font-size: 22px;
	background-color: #b9a27b;
	color: var(--blanco);
	text-shadow: 1px 1px 1px var(--negro);
	padding-top: 10px;
}
#confirmar_asistencia {
	font-family: var(--fuente_principal);
	padding: 10px 0px;
	color: var(--blanco);
	font-size: 22px;
	background: var(--fucsia);
	z-index: 100;
	color: var(--blanco);
	animation: parpadear_confirmar_asistencia 2s linear infinite;
}

#confirmar_asistencia:hover {
	transform: scale(1.02);
	cursor: pointer;
}

#iframe_mapa {
	overflow: hidden;
	background: none !important;
	height: 380px;
}

.modal {
	z-index: 2000;
}

#footer_tarjetas_cool {
	background-color: rgba(255, 154, 209, 0.507);
	margin-top: 25px;
	font-weight: bold;
	font-size: 15px;
	font-family: "calibri";
	padding: 10px 0px;
}

#footer_tarjetas_cool a {
	color: var(--blanco);
	text-decoration: none;
	text-shadow: 2px 2px 2px var(--negro);
}

#footer_tarjetas_cool a:hover {
	font-weight: bold;
}

@keyframes efectoMovimientoFondo {
	0% {
		background-position: 0px 0px;
	}
	50% {
		background-position: -40px 0px;
	}
	100% {
		background-position: 0px 0px;
	}
}

@-webkit-keyframes efectoMovimientoFondo {
	0% {
		background-position: 0px 0px;
	}
	50% {
		background-position: -40px 0px;
	}
	100% {
		background-position: 0px 0px;
	}
}

@keyframes parpadear_confirmar_asistencia {
	50% {
		background-color: var(--rosa_claro);
	}
}

#countdown {
	margin-top: 30px;
	margin-bottom: 0px;
	width: 80%;
}
li {
	display: inline-block;
	font-size: 20px;
	list-style-type: none;
	text-align: center;
	color: var(--dorado);
}

li span {
	line-height: 40px;
	display: block;
	font-size: 2.5rem;
}
